# Compiled Java classes
*.class

# Generated packages & package files
/debian-package-demo*
/package/debian/.debhelper/*
/package/debian/files
/package/debian/debian-package-demo*

# IntelliJ IDEA
/.idea
/*.iml
