# Compiled Java classes
*.class

# Generated packages & package files
/debian-package-demo*
/package/debian/debian-package-demo

# Packages in repository
/repository/*

# IntelliJ IDEA
/*/.idea
/*/*.iml
